{% extends 'base.html' %}

{% block content %}
<div class="w3-display-middle w3-center">
  <p class="w3-text-white" style="font-size:30px">Welcome to a more secure way to tweet!</p>
  <p class="w3-text-white">You can pass
    private messages to your followers using our super-secure platform. You know
    that your message will only be seen be the intended recipient, because we've
    totally verified their identity using our proprietary protocol.</p>
  <p><a href="/register" class="w3-button w3-black">Register</a></p>
  <p><a href="/login" class="w3-button w3-black">Login</a></p>
</div>
{% endblock %}
