<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<title>EVENTful</title>
	</head>

	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#">EVENTful</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="/">Event panel <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="/flag">Admin panel</a>
					</li>
				</ul>
				{% if current_user.is_authenticated %}
				<form class="form-inline my-2 my-lg-0" action="/logout">
					<button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Logout</button>
				</form>
				{% endif %}
			</div>
		</nav>

    {% if current_user.is_authenticated %}
			<div class="float-left">
				<form action="/" method="POST">
				  <div class="form-row align-items-center">
						<div class="col-auto">
				      Add a new event to your event database!
				    </div>
				    <div class="col-auto">
				      <input name="event_name" id="event_name" type="text" class="form-control" placeholder="Name of your event">
				    </div>
				    <div class="col-auto">
				      <input name="event_address" id="event_address" type="text" class="form-control" placeholder="Address of your event">
				    </div>
						<div class="col-auto">
				      Is the name or address more important?
				    </div>
						<div class="col-auto">
							<select name="event_important" class="form-control form-control-sm">
							  <option value="name">Name</option>
								<option value="address">Address</option>
							</select>
						</div>
						<button type="submit" class="btn btn-primary">Submit</button>
				  </div>
				</form>
        These are your current events:
				<ul>
				{% if events|length > 0 %}
					{% for event in events %}
					  <li>{{ event.fmt.format(event) }}</li>
					{%endfor%}
				{%endif%}
				</ul>
      </div>
    {% else %}
      <div class="container my-4">
        <div class="row">
          <form method="POST" action="/login">
            <div class="form-group">
              <label for="inlineFormInputGroup">Username</label>
              <input type="text" name="username" class="form-control" id="exampleInputUsername1" placeholder="Username">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Login/Register</button>
          </form>
        </div>
      </div>
    {% endif %}

	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
</html>
